.homeContainer{
    height: 100vh;
    width: 60%;
    background: #fefefe;
    margin: 0 auto;
    // background: red;
}
.headerContainer{
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.personalContainer{
    display: flex;
    align-items: center;
}
.logo,.avatar{
    height: 36px;
    // padding-top: 2px;
}
.navContainer{
    display: flex;
    justify-content:space-around;
    width: 50%;
}
.nickname{
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #CCCCCC;
}
a{
    text-decoration: none;
    color: #858E9A;
    width: 50px;
    text-align: center;
}
.router-link-active {
    text-decoration: none;
    box-sizing:border-box;
    border-bottom:3px solid transparent;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(#fff,#fff),linear-gradient( 90deg,#FAD722,#F1291F);
}
.mainContainer{
    height: calc(100vh - 44px);
    margin-top: 10px;
}